@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


html {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  color: #2d3436;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 800px) {
  .mobile-layout {
    width: 95% !important;
  }
  .mobile-body {
    width: 95% !important;
  }
  .mobile-section {
    font-size: medium;
  }
  .mobile-title {
    font-size: xx-large;
  }
  .mobile-subtitle {
    font-size: x-large;
  }
  .mobile-work-experience-title {
    flex-direction: column;
  }
  .mobile-center {
    margin-inline: auto !important;
    margin-block: 1rem;
  }
  .mobile-work-experience-section-width {
    width: 100% !important;
  }

  .mobile-paragraph {
    flex-direction: column;

    div{
      width: 100% !important;
    }

    img{
      margin-inline: auto;
    }
  }
}
