
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'Merriweather';
  src: url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
  font-weight: normal;
  font-style: normal;
}

html{
  font-family: 'Merriweather';
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 800px){
  .mobile-layout {
    width: 95%!important;
  }
  .mobile-body {
    width: 95% !important;
  }
  .mobile-section {
    font-size: medium;
  }
  .mobile-title {
    font-size: xx-large;
  }
  .mobile-subtitle {
    font-size: x-large;
  }
  .mobile-work-experience-title {
    flex-direction: column;
  }
  .mobile-center{
    margin-inline: auto !important;
    margin-block: 1rem;
  }
  .mobile-work-experience-section-width{
    width: 100% !important;
  }
}
